[Unit]
Description = isuports
# After=network.target

[Install]
# WantedBy=multi-user.target

[Service]
Type=simple
User=isucon
Group=isucon
WorkingDirectory=/home/isucon/webapp/go
EnvironmentFile=/opt/bench/env
ExecStart=isuports
Restart=always
