[Unit]
Description=isucon12 qualify webapp
After=network.target

[Install]
WantedBy=multi-user.target

[Service]
EnvironmentFile=/etc/env
Type=simple
User=isucon
Group=isucon
WorkingDirectory=/home/isucon/webapp/go
ExecStart=/home/isucon/webapp/go/isuports
ExecStop=killall isuports
Restart=always
